*{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 16px;

}

body{

    background-color: rgb(46, 46, 216);
}

main{
    background-color: rgb(243, 244, 245);
    width: 500px;
    margin:auto;
    padding: 10px;
    box-shadow: 3px 3px 5px black;
}